@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    color: var(--foreground);
    /* background: var(--background); */
    font-family: Arial, Helvetica, sans-serif;
}

/* styles.css */
.fade-slide-enter {
    opacity: 0;
    transform: translateY(-20px); /* 上方偏移 */
}

.fade-slide-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 0.6s ease,
        transform 0.6s ease;
}

#lights {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

canvas {
    width: 100%;
    height: 100%;
}
